<%# locals: (message:) %>
<%= turbo_frame_tag dom_id(message), class: "self-start", id: dom_id(message) do %>
  <%= render ChatBubbleComponent.new(is_system: true) do |bubble| %>
    <%= bubble.with_body do %>
      <% if message.reasoning_chunks.any? %>
        <details <%= "open" if message.chat.generating && message.value.blank? %>>
          <summary class="text-sm font-light text-gray-400">Reasoning</summary>
          <div class="prose prose-invert max-w-none">
            <%= markdown(message.reasoning_chunks.map(&:body).join("\n")) %>
          </div>
        </details>
        <hr class="my-8 border-gray-700">
      <% end %>
      <div class="prose prose-invert max-w-none">
        <%= markdown(message.value) %>
      </div>
    <% end %>
    <%= bubble.with_info do %>
      <div class="flex flex-col gap-2">
        <span class="font-thin text-xs"><%= message.llm_model.model %></span>
        <h6 class="text-xs font-light text-gray-400">Citations</h6>
        <div class="flex flex-row gap-4">
          <% message.citations.each do |citation| %>
            <%= link_to citation.title, citation.url, class: "font-light text-xs text-blue-500 bg-blue-500/10 px-2 py-1 rounded-full border border-blue-500/20 hover:bg-blue-500/20" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= bubble.with_action_button(href: chat_message_retry_path(message.chat, message), icon: "arrow-path") %>
  <% end %>
<% end %>
