<div
  class="fixed top-8 left-8 z-10 block h-12 w-12 rounded-full border p-2 md:hidden bg-primary border-border"
>
  <%= link_to chats_path, class: "flex h-full w-full items-center justify-center" do %>
    <%= heroicon "arrow-uturn-left", options: { class: "h-6 w-6 text-chat-area" } %>
  <% end %>
</div>
<nav
  class="hidden h-screen w-64 flex-col justify-between overflow-hidden px-4 pt-4 pb-8 md:flex bg-sidebar text-text-primary"
>
  <%= link_to "New Chat", chats_path, class: "block rounded border bg-chat-area px-4 py-2 text-center font-medium border-border hover:bg-sidebar" %>
  <div class="flex-1 overflow-y-auto py-4">
    <ul class="space-y-3">
      <% Current.user.chats.ordered.limit(10).each do |chat| %>
        <li>
          <%= link_to chat.title.presence || "chat #{chat.id}", chat_path(chat), class: "block w-full rounded border bg-chat-area px-4 py-2 text-left border-border hover:bg-sidebar" %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to edit_account_path(Current.user.account), class: "flex w-full items-center justify-between gap-4" do %>
    <div
        class="flex size-8 aspect-square flex items-center justify-center rounded-full font-bold bg-border text-text-primary"
      >
      <%= Current.user.email_address.split("@").first.first.upcase %>
    </div>
    <div class="flex-1 text-ellipse text-end">
      <%= Current.user.email_address %>
    </div>
  <% end %>
</nav>
