<%= render "shared/nav" %>
<%= turbo_stream_from [@chat, :messages] %>
<%= turbo_stream_from [@chat, :loading_status] %>
<%= turbo_stream_from [@chat, :send_button] %>

<%= turbo_frame_tag "chat_area", class: "flex flex-1 flex-col items-center h-screen transition-all duration-300" do %>

<section class="flex-1 overflow-y-auto w-full bg-chat-area p-4" data-scroll-target="container">
    <div id="messages" class="flex flex-col gap-4 my-4 w-full">
        <%= render partial: "messages/message", collection: @chat.messages.ordered.select(&:persisted?) %>
    </div>
    <div id="loading-status">
        <% if @chat.generating %>
        <%= render "messages/loading_indicator" %>
        <% end %>
    </div>
</section>
<footer class="w-[70%]">
    <%= render partial: "messages/form", locals: { message: @chat.messages.new } %>
</footer>
<% end %>